@import "../../assets/sass/variables.scss";

.container {
  display: flex;
  .icons {
    display: flex;
    align-items: center;
  }
  img {
    padding-right: 7px;
    padding-left: 7px;
  }
  .disabled {
    opacity: 0.3px;
  }
  &:hover {
    cursor: pointer;
  }
}

.containermulti {
  margin-bottom: 20px;
}
.container:first-child {
  margin-top: unset;
}
.container:last-child {
  margin-bottom: unset;
}
