@import "../../assets/sass/variables.scss";

.container {
  display: flex;
  .heading {
    padding: 4px 12px !important;
    padding-left: 0.5rem !important;
    label {
      color: $black;
      font-size: 1rem !important;
      font-weight: 500 !important;
    }
  }

  .inputContent {
    display: flex;
    flex: 1;
    input[type="text"],
    input[type="date"] {
      height: 100%;
      width: 100%;
      border-radius: 8px !important;
      border: 1px solid $grey;
      background-color: $white;
      color: $black;
      font-size: 0.9rem !important;
      // font-weight: 600 !important;
      padding-left: 0.5rem !important;
      &:focus {
        outline: none !important;
        box-shadow: 0 0 0 1px blue !important;
      }
    }
  }
}
